@media (max-width: 992px) {
    
    .hero-section .hero-title{
        font-size: 48px;
        font-weight: 700;
    }
    .hero-illustration {
        margin-left: 2rem;
      }
}
    
@media (max-width: 768px) {
  /* Hero Section */
    .hero-section .hero-title{
        font-size: 32px;
    }
    .hero-section p{
        font-size: 16px;
    }
    .features-section .card h5 {
        font-size: 16px;
    }
      
    .features-section .card p {
        font-size: 12px;
    }
    h1 {
        font-size: 1.75rem;
    }
    h2 {
    font-size: 1.5rem;
      }
    p {
        font-size: 1rem;
    }

    /* Payment-Section */
.payment-section h3, .utilities h3{
  font-size: 24px;
  line-height: 40.9px;
}

.payment-section p, .payment .subtext, .utilities p{
  font-size: 14px;
  line-height: 19.39px;
}

.payment-section .list-group-item{
  font-size: 14px;
  line-height: 19.39px;
}

.account-section h3{
  font-size: 36px;
  font-weight: 700;
  line-height: 58.5px;

}

.account-btn {
  padding: 10px 32px;
  border-radius: 4px;
}
}


